.bash*
.cache/
.config/
.gitconfig
.mysql_history
.oh-my-zsh/
.rediscli_history
.shell*
.ssh/
.vim/
.viminfo
.z
.zcompdump*
.zsh_history
.zsh_sessions/
.CFUserTextEncoding
.DS_Store
.ShadowsocksX-NG/
.Xauthority
.aws/
.bundle/
.composer/
.conda/
.docker/
.ivy2/
.jenv/
.lesshst
.llama/
.local/
.mill/
.npm/
.npmrc
.nuget/
.nvm/
.php_history
.python_history
.sbt/
.scaleda/
.vnc/
.wine/
.zprofile
Applications/
Data/
Desktop/
Documents/
Downloads/
IdeaSnapshots/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
Tools/
anaconda3/
auth-nextjs/
components/
constants/
dead.letter

.zsh_exports
