.arthas/
.aws/
.bundle/
.cache/
.composer/
.config/
.conda/
.cursor/
.docker/
.gradle/
.ivy2/
.jenv/
.joycode-editor/
.joycode/
.llama/
.local/
.m2/
.matplotlib/
.mill/
.npm/
.nuget/
.nvm/
.offsetexplorer3/
.oh-my-zsh/
.ollama/
.pkg-cache/
.sbt/
.scaleda/
.ShadowsocksX-NG/
.ssh/
.vnc/
.vim/
.wine/
Applications/
Data/
Desktop/
Documents/
Downloads/
IdeaSnapshots/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
Tools/
anaconda3/
auth-nextjs/
components/
constants/
joyCoder/
logs/
nltk_data/
scikit_learn_data/
.CFUserTextEncoding
.DS_Store
.Xauthority
.bash_history
.bash_logout
.bashrc.bkp
.gitconfig
.lesshst
.mysql_history
.npmrc
.php_history
.psql_history
.python_history
.rediscli_history
.shell*
.viminfo
.wget-hsts
.z
.zcompdump*
.zprofile
.zsh_exports
.zsh_history
dead.letter
